<ul class='countries-list'>
  {{#each this}}
    <li class='country-item'>
      <img class='image-item' src='{{flag}}' alt='{{name}}' />
      <h2 class='name-item'>{{name}}</h2>
    </li>
  {{/each}}
</ul>